@import './colors.scss';

.bg{
    &-d--green {
        background-color: $c-dark-green;
    }

    &--green {
        background-color: $c-green;
    }

    &--blue {
        background-color: $c-blue;
    }

    &--gray {
        background-color: $c-gray;
    }
}